*{
    margin: 0px;
    padding: 0px;
    font-family: 'JetBrains Mono', monospace;
    text-decoration: none;
    list-style: none;

}

#key{
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
#plaintext{
    width: 20%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    
}

#ciphertext{
    width: 20%;
    height: 50px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

